name: doctest-parallel-ci
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  # Stack
  stack:
    name: ${{ matrix.os }} / Stack / ${{ matrix.resolver }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        os: ["macOS", "windows", "ubuntu"]
        resolver: ["lts-19.5"]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Haskell
        uses: haskell/actions/setup@v1
        id: setup-haskell
        with:
          enable-stack: true

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.setup-haskell.outputs.stack-root }}/snapshots
          key: ${{ runner.os }}-ghc-${{ matrix.resolver }}-${{ hashFiles('doctest-parallel.cabal') }}
          restore-keys: |
            ${{ runner.os }}-stack-${{ matrix.resolver }}-${{ hashFiles('doctest-parallel.cabal') }}
            ${{ runner.os }}-stack-${{ matrix.resolver }}-

      - name: Build
        run : |
          stack build --resolver ${{ matrix.resolver }}

      - name: Test - doctests
        run : |
          stack test doctest-parallel:doctests --resolver ${{ matrix.resolver }}

      - name: Test - spectests
        run : |
          stack test doctest-parallel:spectests --resolver ${{ matrix.resolver }}

      - name: Test - example project
        run: |
          cd example
          stack test --resolver ${{ matrix.resolver }}

  # Cabal
  cabal:
    name: ${{ matrix.os }} / Cabal / GHC ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: ["macOS", "windows", "ubuntu"]
        ghc: ["9.2.1", "9.0.1", "8.10.7", "8.8.4", "8.6.5", "8.4.4", "8.2.2"]
        exclude:
          # Windows gets stuck while running the testsuite, but this is not a
          # doctest-parallel failure
          - os: windows
            ghc: 8.8.4
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Haskell
        uses: haskell/actions/setup@v1
        id: setup-haskell
        with:
          ghc-version: ${{ matrix.ghc }}

      - name: Setup CI
        run: |
          cabal v2-freeze
          mv cabal.project.freeze frozen

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.setup-haskell.outputs.cabal-store }}
          key: ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ hashFiles('frozen') }}
          restore-keys: |
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ hashFiles('frozen') }}
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-

      - name: Build
        run: |
          cabal v2-update
          cabal v2-build all

      - name: Test - doctests
        run: |
          cabal v2-run doctests

      - name: Test - spectests
        run: |
          cabal v2-run spectests

      - name: Test - example project
        run: |
          cd example
          # See: https://github.com/martijnbastiaan/doctest-parallel/issues/22
          # cabal v2-test
          cabal v2-run doctests


  # Mandatory check on GitHub
  all:
    name: All jobs finished
    needs:
      - cabal
      - stack
    runs-on: ubuntu-latest
    steps:
      - name: Void
        run: |
          echo "All good"
