name: doctest-parallel-ci
on:
  - push
  - pull_request
jobs:
  linux:
    name: Linux - GHC ${{ matrix.ghc }}
    runs-on: ubuntu-20.04
    container:
      image: docker.pkg.github.com/martijnbastiaan/doctest-parallel/focal-ghc-${{ matrix.ghc }}:2021-10-03
      credentials:
        username: martijnbastiaan
        password: ${{ secrets.READ_ONLY_DOCKER_TOKEN }}
    strategy:
      matrix:
        ghc: ["9.0.1", "8.10.7", "8.8.4", "8.6.5", "8.4.4", "8.2.2"]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cabal
          key: ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ github.ref }}-${{ github.sha }}
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ github.ref }}-
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-

      - name: Build
        run: |
          cabal v2-update
          cabal v2-build all

      - name: Test - doctests
        run: |
          cabal v2-run doctests

      - name: Test - spectests
        run: |
          cabal v2-run spectests
