name: doctest-parallel-ci
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  # Stack
  stack:
    name: Linux - Stack - LTS 18.20
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/martijnbastiaan/focal-ghc-8.10.7:2021-12-12
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.stack
          key: ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ github.ref }}-${{ github.sha }}
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ github.ref }}-
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-

      # See: https://github.com/commercialhaskell/stack/issues/2187
      - name: Permissions bug workaround
        run: |
          chown -R $(id -un):$(id -gn) ~ .

      # Ask Stack to use system GHC instead of installing its own copy
      - name: Use system GHC
        run: |
          stack config set system-ghc --global true

      - name: Test - doctests
        run : |
          stack test doctest-parallel:doctests

      - name: Test - spectests
        run : |
          stack test doctest-parallel:spectests

      - name: Test - example project
        run: |
          cd example
          stack test

  # Cabal
  cabal:
    name: Linux - Cabal - GHC ${{ matrix.ghc }}
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/martijnbastiaan/focal-ghc-${{ matrix.ghc }}:2021-12-12
    strategy:
      matrix:
        ghc: ["9.2.1", "9.0.1", "8.10.7", "8.8.4", "8.6.5", "8.4.4"]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cabal
          key: ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ github.ref }}-${{ github.sha }}
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ github.ref }}-
            ${{ runner.os }}-ghc-${{ matrix.ghc }}-

      - name: Build
        run: |
          cabal v2-update
          cabal v2-build all

      - name: Test - doctests
        run: |
          cabal v2-run doctests

      - name: Test - spectests
        run: |
          cabal v2-run spectests

      - name: Test - example project
        run: |
          cd example
          # See: https://github.com/martijnbastiaan/doctest-parallel/issues/22
          # cabal v2-test
          cabal v2-run doctests
